/* @font-face {
  font-family: "Avenir Next";
  src: url(/Assets/AvenirNextLTPro-Regular.otf);
} */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* font-family: "Avenir Next"; */
  font-style: normal;
  color: #171717;
  letter-spacing: -0.02em;
}
body {
  background-color: rgba(225, 232, 237, 1);
  background-image: url("Home.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  margin: 40px 0px;
}
.container {
  width: 90vw;
  margin: auto;
}
.taskLists {
  display: flex;
  justify-content: space-between;
}
.block {
  padding: 5px;
  width: 20vw;
  border-radius: 4px;
}
.headline {
  margin: -5px;
  width: calc(100% + 10px);
  height: 5px;
  border-radius: 4px 4px 0px 0px;
  background: rgba(0, 0, 0, 0.1);
}
.toDo.block {
  background: #59b4d1;
}
.inProgress.block {
  background: #d0935a;
}
.review.block {
  background: #945ad1;
}
.done.block {
  background: #59d090;
}
h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 10px;
}
h2.black {
  color: #171717;
}
.head {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.headName {
  display: flex;
}
.icon {
  width: 20px;
  height: 20px;
}
.btn {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 5px;
}
.btn:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn:hover img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}
.clean.btn {
  color: #171717;
}
.btn img {
  width: 18px;
}
.form {
  flex-direction: column;
  display: none;
}
.form .nav {
  align-self: flex-end;
}
.cancel.btn img {
  width: 16px;
}

.textarea {
  outline: none;
  padding-bottom: 10px;
}
.textarea[contenteditable]:empty::before {
  content: "Write your task here ...";
  color: gray;
}
.task {
  margin: 5px;
  padding: 10px;
  background: #ffffff;
  border-radius: 4px;
  width: calc(100%-10px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.dragItem--active {
  opacity: 0.5;
}
